N8N/Workflows/Aviso Renovação WP.json
{
  "name": "Aviso Renovação WP",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f7ed417-4ac7-4fda-8c59-75c9c6e956a4",
              "name": "Pedido",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Pedido }}",
              "type": "string"
            },
            {
              "id": "3e0db551-023e-4445-a39c-9b6a9381e44a",
              "name": "Data de Vencimento",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json[\"Data de Vencimento\"] }}",
              "type": "string"
            },
            {
              "id": "4a6ebb18-4090-4065-ae14-edd481dae3fa",
              "name": "Telefone",
              "value": "={{ $('Wait').item.json.TelefoneNormalizado }}",
              "type": "string"
            },
            {
              "id": "08501680-136a-4279-a0c9-4ccba54ea3aa",
              "name": "Cliente",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Cliente }}",
              "type": "string"
            },
            {
              "id": "d8dd4378-4ca3-4d8f-8b18-a5532604228a",
              "name": "whatsappMessage",
              "value": "={{ $json.whatsappMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        224
      ],
      "id": "f6f3deb7-a6f5-4efe-ad07-937da086da62",
      "name": "Disparo_renovação"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1248,
        112
      ],
      "id": "4210cfcc-ab38-46d0-8ecc-5c58ce99a5eb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        -304
      ],
      "id": "641ccbe6-b953-427c-90f5-6c05c0fc0427",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Produto }}{{ $json.TipoCertificado }}",
                    "rightValue": "CNPJ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4914623f-d399-4b1c-895b-457c2b704e33"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cnpj_flow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Produto }}{{ $json.TipoCertificado }}",
                    "rightValue": "CPF",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ff00ab81-6c43-4ca6-88c4-265e9bd553f1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cpf_flow"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        240
      ],
      "id": "beaa50c2-f919-4963-a792-85b2e93762bb",
      "name": "Chavear CPF/CNPJ1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ new Date($json['Data de Vencimento'].split('/').reverse().join('-')).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() + 0)).toISOString().split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7ef93cb6-1b4a-4fd1-85e6-9eb1aa4d401e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hoje"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1cf38cb2-bba3-4122-92b3-dcab08898bf7",
                    "leftValue": "={{ new Date($json['Data de Vencimento'].split('/').reverse().join('-')).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() + 5)).toISOString().split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=5 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b64a1bb-bd4c-4338-8e1c-7df59fce4434",
                    "leftValue": "={{ new Date($json['Data de Vencimento'].split('/').reverse().join('-')).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() + 10)).toISOString().split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "10 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4326b020-1d5e-4cd9-83e6-73b77f8c8e69",
                    "leftValue": "={{ new Date($json['Data de Vencimento'].split('/').reverse().join('-')).toISOString().split('T')[0] }}",
                    "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() + 20)).toISOString().split('T')[0] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "20 dias"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -128,
        -304
      ],
      "id": "1dde1277-d5cb-4a5a-a9ac-3013e996da34",
      "name": "Separador de datas1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -272
      ],
      "id": "78d24be4-1e97-4b95-b70a-f03fbaac6ca4",
      "name": "Disparo Automático1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "disparador",
        "remoteJid": "={{ $json.Telefone }}",
        "messageText": "={{ $json.whatsappMessage }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        288
      ],
      "id": "38166a44-e117-47a6-a729-640524cd8478",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "Ndfp6z7ZuSCa2Egw",
          "name": "atendimento"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -960,
        240
      ],
      "id": "de243d88-dd61-477f-add3-0050d66c2cac",
      "name": "Wait",
      "webhookId": "5ed3f76d-0b91-4dc5-a1cc-1d406fa2809d"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "atendimento",
        "remoteJid": "={{ $json['Numero do AGR'] }}",
        "messageText": "=Prezado(a) AGR,\n\nO cliente abaixo que está com vencimento próximo.\n---\n*Dados do Cliente:*\n👤 *Nome:* {{ $json.Cliente }}\n📧 *E-mail:* {{ $('avisa AGR cpf').item.json.Email }}\n📞 *Telefone:* {{ $json.Telefone }}\n\n*Dados do Certificado:*\n📄 *Produto:* {{ $json.Produto }}\n📦 *Pedido:* {{ $json.Pedido }}\n📅 *Data de Vencimento:* {{ $json['Data de Vencimento'] }}\n---\nEntre em contato com o cliente para iniciar o processo de renovação.\n\nAtenciosamente,\nEquipe CertiFast",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        512
      ],
      "id": "5ce8a673-4f51-4578-83aa-106f0ab2db96",
      "name": "Avisa AGR e-CPF",
      "credentials": {
        "evolutionApi": {
          "id": "Ndfp6z7ZuSCa2Egw",
          "name": "atendimento"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "atendimento",
        "remoteJid": "={{ $json['Numero do AGR'] }}",
        "messageText": "=Prezado(a) AGR,\n\nO certificado digital do cliente abaixo que está com vencimento próximo.\n---\n*Dados do Cliente:*\n👤 *Nome:* {{ $json.Cliente }}\n🏢 *Razão Social:* {{ $json['Razão Social'] }}\n🔢 *CNPJ:* {{ $json.CNPJ }}\n📧 *E-mail:* {{ $('avisa AGR conj').item.json.Email }}\n📞 *Telefone:* {{ $json.Telefone }}\n\n*Dados do Certificado:*\n📄 *Produto:* {{ $json.Produto }}\n📦 *Pedido:* {{ $json.Pedido }}\n📅 *Data de Vencimento:* {{ $json['Data de Vencimento'] }}\n---\nEntre em contato com o cliente para iniciar o processo de renovação.\n\nAtenciosamente,\nEquipe CertiFast",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "8b635fc4-d846-4d81-8b5d-a9438329fa87",
      "name": "Avisa AGR e-CNPJ",
      "credentials": {
        "evolutionApi": {
          "id": "Ndfp6z7ZuSCa2Egw",
          "name": "atendimento"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bbb92dd-3b3e-425f-a17d-52828aa9bd2f",
              "name": "Pedido",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Pedido }}",
              "type": "string"
            },
            {
              "id": "575aefd8-d885-478b-bcf8-7092a7fadac2",
              "name": "Data de Vencimento",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json['Data de Vencimento'] }}",
              "type": "string"
            },
            {
              "id": "802f1176-e702-4434-8fa5-f930afeaf5b6",
              "name": "Cliente",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Cliente }}",
              "type": "string"
            },
            {
              "id": "c2584062-0b59-4f0c-97a9-6c1c5d08ab39",
              "name": "Telefone",
              "value": "={{ $json.TelefoneNormalizado }}",
              "type": "string"
            },
            {
              "id": "6a4843a9-b244-4aa6-9dff-85e42ce7019c",
              "name": "Produto",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Produto }}",
              "type": "string"
            },
            {
              "id": "ed9f2b28-3cf8-4dee-a568-525de986d6f8",
              "name": "CPF",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "ae7a8301-b7dd-4b9b-9afc-baf7940bf3bf",
              "name": "Numero do AGR",
              "value": "={{ $json.recipientPhoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        512
      ],
      "id": "acd81d82-a1ea-41b6-ac54-4a1edfbd796e",
      "name": "define AGR ecpf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bbb92dd-3b3e-425f-a17d-52828aa9bd2f",
              "name": "Pedido",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Pedido }}",
              "type": "string"
            },
            {
              "id": "575aefd8-d885-478b-bcf8-7092a7fadac2",
              "name": "Data de Vencimento",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json['Data de Vencimento'] }}",
              "type": "string"
            },
            {
              "id": "802f1176-e702-4434-8fa5-f930afeaf5b6",
              "name": "Cliente",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Cliente }}",
              "type": "string"
            },
            {
              "id": "c2584062-0b59-4f0c-97a9-6c1c5d08ab39",
              "name": "Telefone",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Telefone }}",
              "type": "string"
            },
            {
              "id": "6a4843a9-b244-4aa6-9dff-85e42ce7019c",
              "name": "Produto",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.Produto }}",
              "type": "string"
            },
            {
              "id": "ed9f2b28-3cf8-4dee-a568-525de986d6f8",
              "name": "CPF",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "cd5393ed-b7a3-484b-b497-f7b251906f2f",
              "name": "CNPJ",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json.CNPJ }}",
              "type": "string"
            },
            {
              "id": "0b16006f-0203-4d55-995f-b18fa240c0e7",
              "name": "Razão Social",
              "value": "={{ $('Chavear CPF/CNPJ1').item.json['Razão Social'] }}",
              "type": "string"
            },
            {
              "id": "ae7a8301-b7dd-4b9b-9afc-baf7940bf3bf",
              "name": "Numero do AGR",
              "value": "={{ $json.recipientPhoneNumber }}",
              "type": "string"
            },
            {
              "id": "18908103-be0c-4bf0-ba0b-d11d7788d254",
              "name": "CPF_Mascarado",
              "value": "={{ $json.CPF_Mascarado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "4527ab70-fb81-4f93-ac17-59fa28584e11",
      "name": "Define AGR cnpj"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Normaliza o nome do ponto de atendimento\nconst ponto = item['Ponto de Atendimento'] ? item['Ponto de Atendimento'].toLowerCase() : '';\n\n// Define o nome do agente com base nos termos contidos no ponto\nlet agente = 'Alexandre'; // padrão\nif (ponto.includes('andromeda')) {\n  agente = 'Rogério';\n} else if (ponto.includes('prado')) {\n  agente = 'Isabella';\n} else if (ponto.includes('mauá') || ponto.includes('maua')) {\n  agente = 'Ingrid';\n}\n\n// Salva o nome do agente no JSON para uso posterior\nitem.Agente = agente;\n\n// Constrói a mensagem\nconst message = `👋 Olá, *${item.PrimeiroNome || 'Cliente'}*! Tudo bem?\n\nFALTAM APENAS *${item.DiasParaExpirar || 'alguns'} dias*.!\n\n📅 Passando para te avisar que o certificado digital da sua empresa vai expirar em *${item[\"Data de Vencimento\"] || 'breve'}*\n\nPara *garantir a continuidade das suas operações* e evitar qualquer interrupção, recomendamos fortemente que você *renove o quanto antes*. ✅\n\n---\n*Detalhes do seu certificado:*\n📄 *Produto:* ${item.Produto || ''}\n📦 *Número do Pedido:* ${item.Pedido || ''}\n📆 *Data de Expiração:* ${item[\"Data de Vencimento\"] || 'breve'}\n🏢 *Titular:* ${item.Cliente || ''}\n🔢 *CNPJ:* ${item.CNPJ || ''}\n---\n\nFale conosco para iniciar o processo de renovação. Conte com a CertiFast para manter os certificados da sua empresa sempre em dia!\n\nAgente de Registro - *${agente}* 🔒✨`;\n\n// Salva a mensagem no JSON\nitem.whatsappMessage = message;\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        176
      ],
      "id": "b4806f40-fd93-4264-871d-7e13a2f77089",
      "name": "Aviso_enovação_ CNPJ2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst ponto = item['Ponto de Atendimento'] ? item['Ponto de Atendimento'].toLowerCase() : '';\nlet agente = 'Alexandre'; // padrão\n\nif (ponto.includes('andromeda')) {\n  agente = 'Rogério';\n} else if (ponto.includes('prado')) {\n  agente = 'Isabella';\n} else if (ponto.includes('mauá') || ponto.includes('maua')) {\n  agente = 'Ingrid';\n}\n\nconst message = `👋 Olá, *${item.PrimeiroNome || 'Cliente'}*! Tudo bem?\n\nFALTAM APENAS *${item.DiasParaExpirar || 'alguns'} dias*.!\n\n📅 Passando para te avisar que seu certificado digital de e-CPF vai expirar em *${item[\"Data de Vencimento\"] || 'breve'}*\n\nPara *garantir a continuidade das suas operações* e evitar qualquer interrupção, recomendamos fortemente que você *renove o quanto antes*. ✅\n\n---\n*Detalhes do seu certificado:*\n📄 *Produto:* ${item.ProdutoPadronizado || 'não especificado'}\n📦 *Número de pedido:* ${item.Pedido || 'N/A'}\n📅 *Data de expiração:* ${item[\"Data de Vencimento\"] || 'breve'}\n👤 *Titular:* ${item.Cliente || 'N/A'}\n🔢 *CPF:* ${item.CPF_Mascarado || 'N/A'}\n---\n\n👉 ${item.LinkRenovacao ? 'Acesse este link: ' + item.LinkRenovacao : 'Inicie sua renovação agora!'}\n\nConte com a CertiFast para manter os certificados da sua empresa sempre em dia!\n\nAgente de Registro - *${agente}* 🔒✨`;\n\nreturn [{ json: { whatsappMessage: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        320
      ],
      "id": "b8898bad-7fe0-4c09-a6d7-4090279a23c5",
      "name": "Aviso_renovação_CPF2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet telefoneDestinoAGR;\n\n// Normaliza o nome do ponto de atendimento\nconst ponto = item['Ponto de Atendimento'] ? item['Ponto de Atendimento'].toLowerCase() : '';\n\n// Define o telefone com base nos termos contidos no nome do ponto\nif (ponto.includes('andromeda')) {\n  telefoneDestinoAGR = '5512991665151'; // Rogério\n} else if (ponto.includes('prado')) {\n  telefoneDestinoAGR = '553197620119'; // Isabella\n} else if (ponto.includes('mauá') || ponto.includes('maua')) {\n  telefoneDestinoAGR = '5511996091624'; // Ingrid\n} else {\n  telefoneDestinoAGR = '5511983500019'; // Alexandre (default)\n}\n\n// Garante que o número esteja no formato E.164\ntelefoneDestinoAGR = telefoneDestinoAGR.replace(/\\D/g, '');\nif (!telefoneDestinoAGR.startsWith('55')) {\n  telefoneDestinoAGR = '55' + telefoneDestinoAGR;\n}\n\n// Define o número no item para uso posterior\nitem.recipientPhoneNumber = telefoneDestinoAGR;\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        512
      ],
      "id": "854e0fca-4849-4624-a323-249abe4ab535",
      "name": "avisa AGR cpf"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet telefoneDestinoAGR;\n\n// Normaliza o nome do ponto de atendimento\nconst ponto = item['Ponto de Atendimento'] ? item['Ponto de Atendimento'].toLowerCase() : '';\n\n// Define o telefone com base nos termos contidos no nome do ponto\nif (ponto.includes('andromeda')) {\n  telefoneDestinoAGR = '5512991665151'; // Rogério\n} else if (ponto.includes('prado')) {\n  telefoneDestinoAGR = '553197620119'; // Isabella\n} else if (ponto.includes('mauá') || ponto.includes('maua')) {\n  telefoneDestinoAGR = '5511996091624'; // Ingrid\n} else {\n  telefoneDestinoAGR = '5511983500019'; // Alexandre (default)\n}\n\n// Garante que o número esteja no formato E.164\ntelefoneDestinoAGR = telefoneDestinoAGR.replace(/\\D/g, '');\nif (!telefoneDestinoAGR.startsWith('55')) {\n  telefoneDestinoAGR = '55' + telefoneDestinoAGR;\n}\n\n// Define o número no item para uso posterior\nitem.recipientPhoneNumber = telefoneDestinoAGR;\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "id": "76bcb5df-199a-42f4-a628-6d89b8fd32c1",
      "name": "avisa AGR conj"
    },
    {
      "parameters": {
        "jsCode": "const saida = $input.all().map(item => {\n  const json = item.json;\n\n  function normalizarTelefoneE164(telefone) {\n    if (!telefone) return '';\n    const digits = String(telefone).replace(/\\D/g, '');\n    if (/^55\\d{10,11}$/.test(digits)) return digits;\n    if (/^\\d{10,11}$/.test(digits)) return '55' + digits;\n    return '';\n  }\n\n  const cnpjLimpo = json.CNPJ ? String(json.CNPJ).replace(/\\D/g, '') : '';\n  const cpfLimpo = json.CPF ? String(json.CPF).replace(/\\D/g, '') : '';\n\n  let cpfMascarado = '';\n  if (cpfLimpo.length === 11) {\n    cpfMascarado = `${cpfLimpo.substring(0, 3)}.***.***-${cpfLimpo.substring(9, 11)}`;\n  }\n\n  const mapeamentoProdutos = {\n    'e-CPF A1': ['e-cpf a1', 'ecpf a1', 'e cpf a1'],\n    'e-CPF A3': ['e-cpf a3', 'ecpf a3', 'e cpf a3'],\n    'e-CNPJ A1': ['e-cnpj a1', 'ecnpj a1', 'e cnpj a1'],\n    'e-CNPJ A3': ['e-cnpj a3', 'ecnpj a3', 'e cnpj a3'],\n    'e-Jurídico A3': ['jurídico', 'juridico'],\n    'e-Saúde A3': ['saúde', 'saude'],\n    'OM-eCPF': ['om-ecpf', 'om ecpf'],\n  };\n\n  const nomeProdutoOriginal = json.Produto || '';\n  let produtoPadronizado = 'Não Identificado';\n  for (const [nomePadrao, palavras] of Object.entries(mapeamentoProdutos)) {\n    if (palavras.some(p => nomeProdutoOriginal.toLowerCase().includes(p))) {\n      produtoPadronizado = nomePadrao;\n      break;\n    }\n  }\n\n  const tipoCertificado = cnpjLimpo ? 'CNPJ' : 'CPF';\n\n  function toISO(dateAny) {\n    if (!dateAny) return '';\n    const s = String(dateAny).trim();\n    if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(s)) {\n      const [dd, mm, yyyy] = s.split('/');\n      return `${yyyy}-${mm}-${dd}`;\n    }\n    if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n    const p = new Date(s);\n    if (!isNaN(p.getTime())) {\n      const yyyy = p.getFullYear();\n      const mm = String(p.getMonth() + 1).padStart(2, '0');\n      const dd = String(p.getDate()).padStart(2, '0');\n      return `${yyyy}-${mm}-${dd}`;\n    }\n    return '';\n  }\n\n  const vencimentoISO = toISO(json[\"Data de Vencimento\"]);\n  const telefoneE164 = normalizarTelefoneE164(json.Telefone);\n  const primeiroNome = json.Cliente ? String(json.Cliente).split(' ')[0].toUpperCase() : '';\n\n  return {\n    json: {\n      ...json,\n      TelefoneNormalizado: telefoneE164,\n      CNPJ: cnpjLimpo,\n      CPF_Mascarado: cpfMascarado,\n      ProdutoPadronizado: produtoPadronizado,\n      PrimeiroNome: primeiroNome,\n      TipoCertificado: tipoCertificado,\n      UltimoContato: new Date().toISOString(),\n      VencimentoISO: vencimentoISO,\n    }\n  };\n});\n\nreturn saida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -272
      ],
      "id": "a46c82ea-9ae7-4c1b-a876-d1cd5a951a9a",
      "name": "envia só os que irão vencer3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -64,
        256
      ],
      "id": "aa021b5e-9919-48b3-81e0-aed92b469e2f",
      "name": "Respostas",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "16jQDp9Pd6Ppc6dhoXryOPchv1o0t5UjIZ_KQsXP2f8o",
          "mode": "list",
          "cachedResultName": "Renovacao CERTISIGN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jQDp9Pd6Ppc6dhoXryOPchv1o0t5UjIZ_KQsXP2f8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 626806006,
          "mode": "list",
          "cachedResultName": "relatorio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16jQDp9Pd6Ppc6dhoXryOPchv1o0t5UjIZ_KQsXP2f8o/edit#gid=626806006"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -976,
        -272
      ],
      "id": "7737e91c-f15d-4208-a5d3-38796c3bb31b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "zHV2P8lA5y4JLuEt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const saida = $input.all().map(item => {\n  const json = item.json;\n\n  function normalizarTelefoneE164(telefone) {\n    if (!telefone) return '';\n    const digits = String(telefone).replace(/\\D/g, '');\n    if (/^55\\d{10,11}$/.test(digits)) return digits;\n    if (/^\\d{10,11}$/.test(digits)) return '55' + digits;\n    return '';\n  }\n\n  const cnpjLimpo = json.CNPJ ? String(json.CNPJ).replace(/\\D/g, '') : '';\n  const cpfLimpo = json.CPF ? String(json.CPF).replace(/\\D/g, '') : '';\n\n  let cpfMascarado = '';\n  if (cpfLimpo.length === 11) {\n    cpfMascarado = `${cpfLimpo.substring(0, 3)}.***.***-${cpfLimpo.substring(9, 11)}`;\n  }\n\n  const mapeamentoProdutos = {\n    'e-CPF A1': ['e-cpf a1', 'ecpf a1', 'e cpf a1'],\n    'e-CPF A3': ['e-cpf a3', 'ecpf a3', 'e cpf a3'],\n    'e-CNPJ A1': ['e-cnpj a1', 'ecnpj a1', 'e cnpj a1'],\n    'e-CNPJ A3': ['e-cnpj a3', 'ecnpj a3', 'e cnpj a3'],\n    'e-Jurídico A3': ['jurídico', 'juridico'],\n    'e-Saúde A3': ['saúde', 'saude'],\n    'OM-eCPF': ['om-ecpf', 'om ecpf'],\n  };\n\n  const nomeProdutoOriginal = json.Produto || '';\n  let produtoPadronizado = 'Não Identificado';\n  for (const [nomePadrao, palavras] of Object.entries(mapeamentoProdutos)) {\n    if (palavras.some(p => nomeProdutoOriginal.toLowerCase().includes(p))) {\n      produtoPadronizado = nomePadrao;\n      break;\n    }\n  }\n\n  const tipoCertificado = cnpjLimpo ? 'CNPJ' : 'CPF';\n\n  function toISO(dateAny) {\n    if (!dateAny) return '';\n    const s = String(dateAny).trim();\n    if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(s)) {\n      const [dd, mm, yyyy] = s.split('/');\n      return `${yyyy}-${mm}-${dd}`;\n    }\n    if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n    const p = new Date(s);\n    if (!isNaN(p.getTime())) {\n      const yyyy = p.getFullYear();\n      const mm = String(p.getMonth() + 1).padStart(2, '0');\n      const dd = String(p.getDate()).padStart(2, '0');\n      return `${yyyy}-${mm}-${dd}`;\n    }\n    return '';\n  }\n\n  const vencimentoISO = toISO(json[\"Data de Vencimento\"]);\n  const telefoneE164 = normalizarTelefoneE164(json.Telefone);\n  const primeiroNome = json.Cliente ? String(json.Cliente).split(' ')[0].toUpperCase() : '';\n\n  return {\n    json: {\n      ...json,\n      TelefoneNormalizado: telefoneE164,\n      CNPJ: cnpjLimpo,\n      CPF_Mascarado: cpfMascarado,\n      ProdutoPadronizado: produtoPadronizado,\n      PrimeiroNome: primeiroNome,\n      TipoCertificado: tipoCertificado,\n      UltimoContato: new Date().toISOString(),\n      VencimentoISO: vencimentoISO,\n    }\n  };\n});\n\nreturn saida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -272
      ],
      "id": "6d65cbdc-7a38-4633-9e25-212b92d9f0fd",
      "name": "Converter Formato"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chavear CPF/CNPJ1": {
      "main": [
        [
          {
            "node": "Aviso_enovação_ CNPJ2",
            "type": "main",
            "index": 0
          },
          {
            "node": "avisa AGR conj",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso_renovação_CPF2",
            "type": "main",
            "index": 0
          },
          {
            "node": "avisa AGR cpf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separador de datas1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Disparo Automático1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo_renovação": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Chavear CPF/CNPJ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define AGR ecpf": {
      "main": [
        [
          {
            "node": "Avisa AGR e-CPF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define AGR cnpj": {
      "main": [
        [
          {
            "node": "Avisa AGR e-CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso_enovação_ CNPJ2": {
      "main": [
        [
          {
            "node": "Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso_renovação_CPF2": {
      "main": [
        [
          {
            "node": "Respostas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "avisa AGR cpf": {
      "main": [
        [
          {
            "node": "define AGR ecpf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "avisa AGR conj": {
      "main": [
        [
          {
            "node": "Define AGR cnpj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia só os que irão vencer3": {
      "main": [
        [
          {
            "node": "Separador de datas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respostas": {
      "main": [
        [
          {
            "node": "Disparo_renovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisa AGR e-CPF": {
      "main": [
        [],
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Converter Formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Formato": {
      "main": [
        [
          {
            "node": "envia só os que irão vencer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d7f15464-ef8f-4f65-a4ab-6e1583549593",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c7c80362368f5797d33ff9abfd48f4da88cc2118b57c4bbe52975d23ba68e85"
  },
  "id": "m5FAY4MmPWCRwryB",
  "tags": []
}